.top-bar {
	background-color:#ffffff;	
	background-image:url('/media/img/logo.png');
	background-repeat:no-repeat;
	min-height:90px;
	background-size: 160px 84px;
}
#banner {
	background:#150063;
}

#footer {
	background:#150063;
}
#progress_div td.selected {
  background:#DFF0D8;
}
.btn-primary,a.btn,.btn-lg,.btn-primary {
	background-color:#150063;
	border-color:#150063;
}
.btn-primary:hover,#proceed_button{
        color: #fff;
	background-color:#150063;
	border-color:#150063;
}
a:hover, a:focus {
  color: #150063;
  text-decoration: underline;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	color:#150063;
	background-color:#150063;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #150063;
  border-color: #150063;
}

.panel-primary > .panel-heading {
    color: #150063;
    background-color: #eeeeee;
    border-color: #eeeeee;    
}

.panel-primary {
    border-color: #eeeeee;    
}

:focus{
    outline: 0;
}
